

<head>
<link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.0/dist/flatly/bootstrap.min.css" rel="stylesheet">
<link src="static/css/index.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://www.jsviews.com/download/jsrender.js"></script>
<script src="static/js/survey.js" type="text/javascript"></script>
{{steps|json_script:"steps"}}
{{code|json_script:"code"}}
{{seconds_per_conversation|json_script:"seconds_per_conversation"}}

<script type="text/javascript">
    var steps = JSON.parse(document.getElementById('steps').textContent);
    const code = JSON.parse(document.getElementById('code').textContent);
    const SECONDS_PER_CONVERSATION = JSON.parse(document.getElementById('seconds_per_conversation').textContent);
</script>
</head>

<div id="countdown-content" style="display: flex; justify-content: end; position: fixed; width: 100%; visibility: hidden;">
    <div style=" padding: 0.6rem 1rem 0.6rem 1rem; border-radius: 0.375rem 0 0 0.375rem;background-color: #e74c3c;">
        <i class="fas fa-clock fa-lg" style="color: #fff; padding-right: 0.5rem;"></i><span id="countdown-timer" style="color: #fff; font-size: large;"></span>
    </div>
</div>

<div id="content" style="padding: 5% 10% 10% 10%">
    <!--JS render-->
</div>

<script id="rating-conversation-template" type="text/x-jsrender">
    {% verbatim %}
    <div>
        <div class="card border-primary">
            <div class="card-body container">
                {{for conversation}}
                <div class="row" style="display: flex; justify-content: flex-start; padding-top:1rem;">
                    <div class="col-1" style="padding-left:1rem;">Q:</div><div class="card-text col-11" style="padding-right:3rem; text-align:justify;">{{>question}}</div>
                </div>
                <div class="row" style="display: flex; justify-content: flex-start; padding-top:1rem; padding-bottom:1rem;">
                    <div class="col-1" style="padding-left:1rem;">A:</div><div class="card-text col-11" style="padding-right:3rem; text-align:justify;">{{>answer}}</div>
                </div>
                {{/for}}
            </div>
        </div>


        <div style="padding-top: 5%;">
            <div class="card border-primary">
                <div class="card-body container">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-11">Rate the previous conversation from 1-4 where 1 means that answers are human-generated and 4 means that answers are machine-generated.</div>
                    </div>
                    <div class="row">
                        <div class="col" style="display: flex; justify-content: center;"><label class="form-check-label" style="margin-right: 1em;" for="optionsRadios1">1</label></div>
                        <div class="col" style="display: flex; justify-content: center;"><label class="form-check-label" style="margin-right: 1em;" for="optionsRadios2">2</label></div>
                        <div class="col" style="display: flex; justify-content: center;"><label class="form-check-label" style="margin-right: 1em;" for="optionsRadios3">3</label></div>
                        <div class="col" style="display: flex; justify-content: center;"><label class="form-check-label" style="margin-right: 1em;" for="optionsRadios4">4</label></div>
                    </div>
                    <div class="row">
                        <div class="form-check col" style="display: flex; justify-content: center;">
                            <input class="form-check-input" style="border-color: slategrey" type="radio" name="rating" id="optionsRadios1" value="1">
                        </div>
                        <div class="form-check col" style="display: flex; justify-content: center;">
                            <input class="form-check-input" style="border-color: slategrey" type="radio" name="rating" id="optionsRadios2" value="2">
                        </div>
                        <div class="form-check col" style="display: flex; justify-content: center;">
                            <input class="form-check-input" style="border-color: slategrey" type="radio" name="rating" id="optionsRadios3" value="3">
                        </div>
                        <div class="form-check col" style="display: flex; justify-content: center;" >
                            <input class="form-check-input" style="border-color: slategrey" type="radio" name="rating" id="optionsRadios4" value="4">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="display: flex; justify-content: end; padding-top: 5%;">
            <button id="finish-rating-btn" type="button" class="btn btn-info btn-lg" fdprocessedid="juw74p">Finish rating</button>
        </div>
    </div>
    {% endverbatim %}
</script>

<script id="start-survey-template" type="text/x-jsrender">
    {% verbatim %}
    <div>
    <div class="card border-primary">
        <div class="card-body container" style="padding-left:1rem; padding-right:3rem; text-align:justify;">
            <ul>
                <li style="margin-bottom:0.5rem;">You will be presented with three conversations consisting of five questions and answers.</li> 
                <li style="margin-bottom:0.5rem;">A conversation is either human-generated or machine-generated.
                </li>
                <li style="margin-bottom:0.5rem;">Human-generated answers were provided by people with a job position in the field of software developement.
                    Machine-generated answers were provided by ChatGPT.
                </li>
                <li style="margin-bottom:0.5rem;">Conversations are picked at random, the ration of human-generated and machine-generated conversations is undefined.</li>
                <li style="margin-bottom:0.5rem;">Each conversation will be displayed for 5 minutes. 
                    As long as the conversation is displayed, you will be able to rate the conversation.
                    Rating implies making a decision whether the answers were provided by a human or ChatGPT.
                    There will be a timer in the upper right corner of your screen counting down the time you have left.
                </li>
                <li style="margin-bottom:0.5rem;">     
                    You will be asked to rate the conversation on a scale from 1-4 where 1 means that answers are human-generated and 4 means that answers are machine-generated.
                    Rating is finished by pressing the "Finish rating" button or when the 5 minutes timer runs out. 
                    Your rating is saved only if the "Finish rating" button is pressed.
                </li>
                <li style="margin-bottom:0.5rem;">After rating each conversation, you will be asked to provide a reason for your rating in your own words. 
                    There is no time limit for providing a reason. You can give a reason either in English or Serbian.
                    After giving a reason, you will be presented with the next conversation.
                </li>
            </ul>
        </div>
    </div>
    <div style="display: flex; justify-content: end; padding-top: 5%;">
        <button id="start-survey-btn" type="button" class="btn btn-info btn-lg" fdprocessedid="juw74p">Start survey</button>
    </div>
    </div>
    {% endverbatim %}
</script>

<script id="give-reason-template" type="text/x-jsrender">
    {% verbatim %}
    <div>
    <div class="card border-primary">
        <div class="card-body container">
            <label for="exampleTextarea" class="form-label">What is your reason for the rating of the previous conversation?</label>
            <textarea id="reason-text" class="form-control" id="exampleTextarea" rows="5"></textarea>
        </div>
    </div>
    <div style="display: flex; justify-content: end; padding-top: 5%;">
        <button id="next-conversation-btn" type="button" class="btn btn-info btn-lg" fdprocessedid="juw74p">Next conversation</button>
    </div>
    </div>
    {% endverbatim %}
</script>

<script id="end-survey-template" type="text/x-jsrender">
    {% verbatim %}
    <div>
    <div class="card border-primary">
        <div class="card-body container" style="background-color: powderblue">
            <div>Thank you for your time. For any questions you can write at nat.gaj98@gmail.com</div>
        </div>
    </div>
    </div>
    {% endverbatim %}
</script>

<script id="error-template" type="text/x-jsrender">
    {% verbatim %}
    <div>
        <div class="card border-primary">
            <div class="card-body container" style="background-color: #e74c3c">
                <div>Something went wrong. Contact nat.gaj98@gmail.com</div>
            </div>
        </div>
    </div>
    {% endverbatim %}
</script>


